body{
  background-color: rgb(15, 145, 0);
}

#global {
	width:1280px;
	margin: 0px auto;
    padding: 5px;


}
.banniere {
    background-image: url(img/dub.jpg);  
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 10px;
    padding: 15px;
    width:1250px;
    position: relative;
}

.banniere h1 {
  text-align: center;
  position: absolute;
  font-size: 12rem;
  top: 15%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  background: linear-gradient(25deg,green 30%,rgb(255, 255, 255) 65%,orange 60%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.image{
  
    right: 50%;
}
#nav {
	width:1280px;
	height:50px;
    margin: 10px 0;
    position: sticky;
    top:0px;
    background-image: url(flag.png);
}

#nav ul {
    border-radius: 10px;
    border: 2px solid black;
    height: 50px;
    background-color:#CCC;
    padding :0px 75px;
    margin: 0;
}

#nav li {
	list-style-type:none;           
	list-style-position:inside;

}

#nav a {
    
	float:left;
	display:block;
	text-decoration: none;          
	text-align:center;
	width:160px;
	height:50px;
	line-height:50px;
	background-color:#CCC;
	color: rgb(8, 8, 8);
	font-family: Arial,sans-serif;
	font-weight: bold;
	font-size:1em;
}

#nav a:hover {
	background-color:rgb(255, 121, 0);
    color: rgb(244, 234, 234);
    border-radius: 100px;
}

main {
	width:1280px;
	text-align:justify;
	background-color:lightgrey;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

main h1 {
	margin:0px;
	background-color:rgb(35, 175, 0);
	font-family: Arial,sans-serif;
	font-style:italic;
	font-size:24px;
	color:white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
main h2 {
  margin: 20px 30px;
  font-size: 40px;
  text-align: center;
  color: orange;

}

main p, main ul, main h3 ,main h4 {
    margin: 20px 30px;
	font-size:20px;
    text-align: center;
}
main  strong{
  color: rgb(35, 175, 0);
  }
  main ul .lien li a {
    color: rgb(255, 121, 0);
  }


.image {
    text-align: center;
}

.image a {
    text-decoration: none;
    color: black;
}

.lien, .liens {
	list-style-type:none;
	padding:0;
    text-align: center;
}

.lien a, .liens a {
	text-decoration:none;       
	color:#A90331;
}

.lien a:hover, .liens a:hover {
	text-decoration:underline;  
	color:black;
}

figure img {
    width: 550px;
    height: 350px;
  }
  
  caption {
    font-size: 3.5rem;
    padding: 0.5rem;
    font-family: "Courier New", Courier, monospace;
  }
  table {
    margin: auto;
    font-size: larger;
    border-collapse: separate;
    
    padding: 0.5rem;
    border-spacing: 15px;
  }
  th,
  td {
    border: 3px solid rgb(255, 121, 0);
    padding: 15px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
  }
  .contain img {
    object-fit: contain;
  }
  .cover img {
    object-fit: cover;
    object-position: center;
  }
  .cover.cover1 img {
    object-position: 0% 40%;
  }
  figure {
    margin: 0;
  }

  .contact {
    width: 620px;
    margin: 0 auto;
    font-size: 20px;
}

.contact div label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-align: right;
}

.contact input {
    height: 30px;
    width: 400px;
    margin-bottom: 15px;
}

.contact textarea {
    height: 80px;
    width: 400px;
    resize: none;     
}


.contact label[for="message"] {
    float: left;
    text-align: center;
}

.contact input[type="submit"] {
    height: 50px;
    width: 300px;
    margin-top: 30px;
    margin-left: 200px;
    font-size: 20px;
    border-radius: 20px;
}

.liens {
    column-count: 3;
}
#remonter {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  
  #remonter a img {
    width: 50px;
  }
