body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    float: right;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

section {
    padding: 1em;
}

section ul li{
    margin: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
.txtBold {
    font-weight: bold;
}
.txtItalic {
    font-style: italic;
    background-color: #333333;
    color: #ffffff;
    padding-left: 2px;
    padding-right: 2px;
}
#nuage {
    position: absolute;
    top: 20px;
    left: -100px; /* Commence en dehors de la page */
    width: 100px;
    height: 60px;
    background: url('nuage.png') no-repeat center center;
    background-size: contain;
    opacity: 30%;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
label, input, textarea {
    display: block;
    margin-bottom: 10px;
}