*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {color:rgb(41, 3, 41);
    text-shadow: 3px 3px rgb(190, 60, 190);
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
    margin-top: 120px;
    margin-bottom: 40px;
    
}
ul{
    
    list-style-type: none;
    margin-left: 750px;
    margin-top: 450px;
    padding: 0;
    font-size: xx-large;
    letter-spacing: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
li{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(209, 150, 194);
    width: 20%;
    margin: 5px 0 5px 0;
    padding: 5px;
   
}
body {
   
    margin: 0px;
    padding: 0px;
    
    background: url(galerie/image/img15.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    overflow-x: hidden;
    
  
   
}


  

