*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 950px;
    background-image: url(galerie/image/img10.jpg);
    position: relative;
    background-repeat: no-repeat;
    text-align: left;
    margin-top: 0px;
    margin-right: 550px;
    margin-left: 160px;
    
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    color:rgb(15, 107, 146);}
  
    
    ul { list-style-type: none;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 70px;
    padding: 0;
    font-size: x-large;
    letter-spacing: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    
   

  h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-align: right;
    margin-top: 80px;
    margin-right: 80px;
   
    color:rgb(8, 60, 82);

  }