*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #170825;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    margin-left: 7px;


}
/*
body{
    background-image: url(image/img8.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    content: "";
    z-index: -1;
  }  */
  body {
    background-image: url(galerie/image/img6.jpg);
    position: relative;
    background-repeat: no-repeat;
    margin: 30px;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height: 1631px;
    width: 1144px;
    background-attachment: fixed;
    word-spacing: 5px;
  }
   #ul {
    
    list-style-type: none;
    margin-left: 750px;
    margin-top: 450px;
    padding: 0;
    font-size:xx-large;
    letter-spacing: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
  

   
 /*  
  body::before {
    content: "";
    background-image: url(image/img8.jpg);
    opacity: 1;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
  */
    h1 {
        color:rgb(3, 21, 29);
        text-align:center;
        font-size: 45px;
        text-decoration: solid rgb(114, 60, 34) arial;
        letter-spacing: 5px;
        margin-top: 30px;
    }
      
      
    h2 {
        color:rgb(3, 21, 29);
        text-align:left;
        margin-left: 50px;
        font-size: 23px;
        text-decoration: solid rgb(114, 60, 34) arial;
        letter-spacing: 4px;
        margin-top: 30px;
    }