* {
  cursor: url("../images/cursors/France_Flag_Cursor.png"), auto;
}

a,
button,
#menu,
#menu > span,
a img {
  cursor: url("../images/cursors/France_Flag_Pointer.png"), pointer;
}

#content .showingDiv h2 {
  cursor: url("../images/cursors/France_Flag_Pointer.png"), pointer;
}

/* HEADER */
header nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--blackMenuList);
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 1rem 0 1rem;
}

header nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

header nav li a:visited {
  color: white;
}

header nav li a:hover {
  color: var(--blue);
}

header nav li a.selected {
  color: var(--red);
}

#entreprise {
  position: relative;
}

#entreprise:hover #menuEntreprise {
  display: block;
}

#entreprise #menuEntreprise:hover {
  display: block;
}

#menuEntreprise {
  display: none;
  position: absolute;
  background-color: var(--blackMenuList);
  padding: 15% 0.5rem 0.5rem 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  top: 100%;
}

#menuEntreprise li a {
  font-size: 1.25rem;
}

#menuEntreprise li::before {
  content: "-";
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  left: 6%;
}
/* MAIN */

main {
  margin-top: 3rem;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(200, 200, 200, 1) 45%,
    rgba(200, 200, 200, 1) 55%,
    rgba(255, 0, 0, 1) 100%
  );
}

#card {
  display: inline-block;
  width: 300px;
  height: 450px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(200, 200, 200, 1) 45%,
    rgba(200, 200, 200, 1) 55%,
    rgba(255, 0, 0, 1) 100%
  );
  border-radius: 1rem;
  border: 3px solid black;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 2;
  left: 50%;
  transform: translateX(-150px);
  transition: left 0.7s linear;
}

#social-media {
  background-color: rgba(19, 19, 19, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}

#social-media div {
  text-align: center;
}

#social-media img {
  margin-top: 3%;
  width: 40%;
}

#card hr {
  width: 85%;
  margin-left: 7.5%;
  margin-top: 10%;
}

#card #description {
  width: 65%;
  margin-left: 17.5%;
  border-radius: 0.5rem;
  background: rgba(19, 19, 19, 0.2);
}

#card #description p {
  text-align: center;
  color: white;
  font-size: 1rem;
}

#card span {
  display: block;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

#card #profile {
  position: relative;
  text-align: center;
}

#card #profile img {
  margin-top: 20px;
  border-radius: 6rem;
}

#card #profile::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 8rem;
  border: 4px solid white;
  top: 3%;
  left: 48.5%;
  transform: translateX(-110px);
}

#interview {
  margin-top: 1rem;
}

#infos {
  font-family: "Inter", sans-serif;
}

@keyframes animPresentation {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#infos #presentation {
  display: none;
  position: relative;
  z-index: 1;
  opacity: 1;
  width: 60%;
  margin-left: 5%;
  margin-top: 9%;
  vertical-align: top;
  background: rgba(19, 19, 19, 0.2);
  padding: 1rem;
  color: white;
  border-radius: 1rem;
}

@keyframes animationContentPresentation {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#presentation p,
#presentation h2 {
  opacity: 1;
  transition: transform 0.5s linear;
}

#infos #presentation p {
  text-align: justify;
}

#infos *::selection {
  background: var(--blue);
}

#infos h2::selection,
#infos span::selection,
#infos img::selection {
  background: var(--red);
}

#infos #presentation h2 {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

#infos #presentation h2:hover {
  background-color: transparent;
}

.showingDiv h2 {
  background: rgb(220, 220, 220);
  color: black;
}

.showingDiv h2::selection {
  background: var(--blue);
}

.showingDiv p::selection {
  background: var(--blue);
}

.showingDiv h2:hover {
  background: linear-gradient(
    140deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(230, 230, 230, 1) 14%,
    rgba(230, 230, 230, 1) 73%,
    rgba(255, 0, 0, 1) 100%
  );
  color: black;
}

.showingDiv p {
  font-family: "Inter", sans-serif;
  text-align: justify;
  font-size: 1.3rem;
}

.showingDiv > div {
  background: linear-gradient(
    140deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(220, 220, 220, 1) 8%,
    rgba(220, 220, 220, 1) 92%,
    rgba(255, 0, 0, 1) 100%
  );
}

/* Conclusion */
#conclusion {
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    140deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(220, 220, 220, 1) 8%,
    rgba(220, 220, 220, 1) 92%,
    rgba(255, 0, 0, 1) 100%
  );
  padding: 0 1rem 1rem 1rem;
}

#conclusion p {
  margin-top: 1rem;
  text-align: center;
  padding: 0 1.5rem 0 1.5rem;
}

#conclusion h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
}

/* FOOTER */

@keyframes cloud {
  0% {
    left: -110vw;
  }

  100% {
    left: 150vw;
  }
}

#cloud img {
  position: absolute;
  z-index: 1;
  bottom: 30%;
  transform: scaleY(-1);
  opacity: 0.5;
  left: -110vw;
  animation: cloud 30s linear infinite;
}

article section {
  z-index: 2;
}

footer article {
  position: relative;
}

footer *::selection {
  background-color: var(--blue);
}

footer h5::selection {
  background-color: var(--red);
}

footer li:hover a {
  color: var(--blue);
}

footer li a.selected {
  color: var(--red);
}
